@import "./styles.global.module.scss";

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 146px;
    height: 58px;
    font-size: 14px;
}

.buttonRed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 28px;
    border-radius: 6px;
    background-color: $button-red;
    
    a {
        color: white;
        text-decoration: none !important;
    }

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.bigButtonRed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 34px;
    border-radius: 6px;
    background-color: $button-red;
    
    a {
        color: white;
        text-decoration: none !important;
    }

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.buttonWhite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 34px;
    border-radius: 6px;
    border: 1px solid $button-red;

    a {
        color: $button-red;
        text-decoration: none !important;

    }

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.smallButtonRed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 28px;
    border-radius: 6px;
    border: 1px solid $button-red;

    a {
        color: white;
        text-decoration: none !important;

    }

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 500;
}